@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Nav Styles */
.header {
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-position: top left, right bottom;
    background-repeat: no-repeat;
}
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.a {
    color: #FD6E0A;
}
nav ul li {
    list-style: none;
    margin-right: 51px;
}
nav ul li a {
    text-decoration: none;
}
ul  {
    display: flex;
    align-items: center;
}

/* banner styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content {
    max-width: 580px;
}
.banner-greeting {
    font-weight: 600;
    font-size: 45px;
    width: 585px;
    height: 61px;
}
.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #000000;
    height: 116px;
    width: 585px;
}
.banner-profile-pic {
    width: 584px;
    height: 676px;
}
.banner-descrip {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 50px;
    height: 60px;
    width: 585px;
}
/* shared styles */
.dark-2 {
    color: #474747;
}
.btn-primary {
    border: none;
    background-color: #FD6E0A;
    padding: 18px 36px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    font-size: 20px;
}
.sceondary-bg {
    background-color: #FFF8F3;
}


/* main part styles */
.about-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
}
.about-descrip {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items {
    display: flex;
    justify-content: space-around;
}
.item-description {
    font-weight: 600;
}
.item-description a{
    text-decoration: none;
    color: #181818;
}
.item-description a:hover{
    text-decoration: underline;
    color: red;
}
/* main styles */
.main {
    max-width: 1140px;
    margin: 0 auto;
}


/* what I do styles */

.skills {
    display: flex;
    justify-content: space-between;
}
.skills-items {
    width: 250px;
    height: 270px;
    border: solid 1px;
    border-radius: 10px;
    padding: 30px 30px;
    margin-right: 20px;
    background-color: #FFF8F3;
    justify-content: center;
}
.skills-heading {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
.skills-descript {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 50px;
}

/*Resume Section styles */
.resume {
    margin-top: 120px;
}
.resume-head {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}


