@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    width: 100%;
    height: fit-content;
}

/* Nav Styles */
.header {
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-position: top left, right bottom;
    background-repeat: no-repeat;
    
}
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.a {
    color: #FD6E0A;
}
nav ul li {
    list-style: none;
    margin-right: 51px;
}
nav ul li a {
    text-decoration: none;
}
ul  {
    display: flex;
    align-items: center;
}
nav ul li .link-color {
    color: #181818;
}
/* banner styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content {
    max-width: 580px;
}
.banner-greeting {
    font-weight: 600;
    font-size: 45px;
    width: 585px;
    height: 61px;
}
.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #000000;
    height: 116px;
    width: 585px;
}
.banner-profile-pic {
    width: 584px;
    height: 676px;
}
.banner-descrip {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 50px;
    height: 60px;
    width: 585px;
}
.btn-cv {
    margin-right: 20px;
}
.contact-btn {
    border: none;
    background-color: transparent;
    padding: 18px 36px;
    border-radius: 5px;
    font-weight: 700;
    color: #FD6E0A;
    font-size: 20px;
    border: solid black 1px;
}
/* shared styles */

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark-2 .experience-title {
    color: #474747;
}
.btn-primary {
    border: none;
    background-color: #FD6E0A;
    padding: 18px 36px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    font-size: 20px;
    border: solid black 1px;
}
.sceondary-bg {
    background-color: #FFF8F3;
}


/* main part styles */
.main {
    max-width: 1140px;
    margin: 0 auto;
}
.about-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
}
.about-descrip {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items {
    display: flex;
    justify-content: space-around;
}
.item-description {
    font-weight: 500;
}
.item-description a{
    text-decoration: none;
    color: #181818;
}
.item-description a:hover{
    text-decoration: underline;
    color: red;
}
/* main styles */

/* Optional */
.hide{
    display: none;
}


/* what I do styles */

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-items {
    width: 250px;
    height: 270px;
    border: solid 1px;
    border-radius: 10px;
    padding: 30px 30px;
    margin-right: 20px;
    background-color: #FFF8F3;
    justify-content: center;
}
.skills-heading {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
.skills-descript {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 50px;
}

/*Resume Section styles */
.resume {
    margin-top: 120px;
}
.resume-head-div{
    margin-bottom: 70px;
    margin-top: 100px;
}
.resume-head {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
.resume-container {
    display: flex;
    gap: 24px;
}

.experience-description {
    color: #757575;
}
.experience-sub-title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume hr {
    margin: 30px 5px;
}
.experience-title {
    font-size: 25px;
    font-weight: 700;
}
.resume-column-title {
    font-size: 30px;
    font-weight: 700;
}
.resume-download-cv {
    margin-top: 50px;
    border: solid black 1px;
}


/* Footer Part */
.footer {
    max-width: 100%;
    background: #FFF8F3;
    padding: 5%;
    margin-top: 10%;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-column {
    width: 50%;
}
.footer-column-1 {
    text-align: center;
    padding-right: 3rem;
}
.footer form input[type="text"], .footer form input[type="email"], .footer form textarea {
    height: 45px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 2px 20px;
    margin-bottom: 24px;
    border: none ;
}
.footer-submit-btn {
    border: solid black 1px;
    background-color: #FD6E0A;
    padding: 10px 36px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    font-size: 20px;
}
.footer-column-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.footer-column-description {
    color: #474747;
    font-size: 14px;
    margin-bottom: 30px;
}
.footer-contact-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
}
@media screen and (max-width: 576px) {
    .skills-items {
        margin-bottom: 5%;
    }
    .footer-container {
        display: flex;
    }
    .footer-column{
        margin-bottom: 20%;
    }
    .skills, .resume-container, .footer-container {
        flex-direction: column;
    }
    .skills {
        margin-left: 25px;
    }
    .skills-descript {
        padding: 10px;
    }
    .resume {
        padding-left: 4px;
        padding-right: 4px;
    }
    .resume-column-title {
        text-align: center;
    }
    .experience {
        text-align: center;
    }
    .about {
        margin: 0;
        padding: 0%
        
    }
    .about-items {
        flex-direction: column;
    }
    .about-descrip {
        padding: 10px;
    }
    /* Header */
    nav {
        padding: 5%;
        margin: 0%;
        flex-direction: column;
    }
    .ul {
        flex-direction: column;
        
    }
    .banner {
        flex-direction: column;
    }
    /* .header {
        background-image: none;
    }  */
    .banner-profile-pic {
        width: 100%;
    }
    .banner-descrip {
        width: 100%;
        padding-bottom: 20px;
    }
    .banner-title {
        width: 100%;
        height: 100%;
        font-size: 50px;
    }
    .banner-content{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    .banner-greeting {
        width: 100%;
    }
    /* .sceondary-bg{
        width: 100%;
    } */
    .open-sans-normal {
        margin: 0;
    }
    .btn-primary {
        margin-bottom: 20px;
        margin-top: 150px;
    }
    .hire {
        margin-top: 35px;
    }
    .header {
        background-image: url(images/developer.png), url(images/header_bg.png);
        background-position: center left, right bottom;
        background-repeat: no-repeat;
    
}
}